.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-top: -15vh;

  @media only screen and (max-width: 980px) {
    margin-top: 0;
  }
}

.area {
  padding: 0 2rem;
}

.photoArea {}

.infoArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoContainer {
  background-color: white;
  box-shadow: 0 0 25px 0 #e3e3e3;
  border-radius: 50%;
  padding: 0.5rem;
  & > img {
    vertical-align: middle;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
}

.profession {
  opacity: 0.6;
  font-size: 1.1rem;
}

.name {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 14px;
}

.typewriterResume {
  max-width: 28rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 18px;
}

.mouseContainer {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.movingMouseHolder {
  color: #fff;
  font-size: 14px;
  display: block;
  max-width: 100px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.movingMouseHolder .mouse {
  width: 14px;
  height: 20px;
  position: relative;
  border-radius: 18px;
  margin: auto;
  border: 2px solid #000000;
}

.movingMouseHolder .mouseButton {
  background-color: #000000;
  width: 3px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  left: 55%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 1s infinite alternate;
}

.movingMouseHolder .mouseText {
  color: black;
  font-size: 12px;
  line-height: 1em;
  margin-top: 10px;
}

@keyframes mouse-scroll {
  to {
    transform: translate(0, 4px);
  }
}
