.button {
  border-radius: 2rem;
  background: white;
  color: black;
  transition: 300ms ease;
  cursor: pointer;
  height: 2.6rem;
  padding: .4rem .8rem;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.2);
  outline: none;

  &.primary {
    border: 2px solid #C3073F;
  }

  &.gray {
    border: 2px solid #D5D5D5;
  }

  &.primary:hover {
    background: #C3073F;
    color: white;
  }

  &.gray:hover {
    background: #D5D5D5;
  }
}
