.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  text-align: center;
  padding: 6rem 12rem 12rem 12rem;

  @media only screen and (max-width: 1200px) {
    padding: 4rem 8rem 10rem 8rem;
  }

  @media only screen and (max-width: 800px) {
    padding: 2rem 4rem 8rem 4rem;
  }

  @media only screen and (max-width: 700px) {
    padding: 1rem 2rem 6rem 2rem;
  }

  & > svg {
    margin: 0 0 32px 0;
    width: 240px;
    height: auto;
  }

  & > a {
    color: #C3073F;
  }
}