.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 45%;
  max-width: 45%;
  padding: 0 25px 30px 0;

  @media only screen and (max-width: 580px) {
    min-width: 100%;
  }
}
.iconContainer {
  & > svg {
    padding: 0 10px 0;
    color: #C3073F;
  }
}
.descriptionContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 0 0 15px;
}
.title {
  margin: 0 0 4px;
  font-weight: 500;
  font-size: 1.15rem;
}
.description {
  color: #666;
  font-size: 0.8rem;
}